@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --cor_de_destaque: #ffd468;
  --fonte_branca: #fff;
  --fundo_claro: #f2f1f1;
  --fonte_preta: #000;
  --background_claro: rgba(253, 173, 0, 0.418);
  --span_color: #ee8803;
}

header {
  justify-content: space-between;
  background-color: var(--cor_de_destaque);
  align-items: center;
}

header nav {
  padding: 28px;
  gap: 22px;
}

header a {
  color: var(--fonte_preta);
  text-transform: uppercase;
  transition: 0.5s;
}

header a:hover {
  color: var(--span_color);
  font-size: 1.1em;
}

header i {
  padding: 28px;
}

h1 {
  font-size: 2em;
  color: var(--fonte_preta);
}

.first_container {
  height: 30vh;
  color: var(--fonte_branca);
  background-image: url("imagens/background_section.png");
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
}

.square {
  background-color: #e3b747bf;
  padding: 10px 20px;
}

main {
  background-color: var(--fundo_claro);
  padding: 48px;
  font-size: 1.2rem;
  text-align: justify;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 28px;
}

.about_fitTech {
  background-image: url("imagens/academia_fitTech.png");
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-attachment: fixed;
  height: 30vh;
  width: 85%;
  box-shadow: 0px 20px 15px rgba(191, 191, 191, 0.45);
  margin-bottom: 28px;
}

.about_fitTech button {
  background-color: #ffffff;
  padding: 10px 28px;
  border-radius: 58px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.about_fitTech a {
  color: var(--fonte_preta);
  margin-right: 6px;
}

.second_container {
  color: var(--fonte_preta);
  background-color: var(--background_claro);
  padding: 28px 0px;
}

span {
  color: var(--span_color);
}

.Instructors {
  margin-top: 20px;
  gap: 120px;
}

.Instructors img {
  height: 24vh;
  width: 240px;
  border-radius: 50%;
}

.card {
  gap: 12px;
}

.third_container {
  background-color: var(--fundo_claro);
  padding: 48px 0px 20px 0px;
}

.box img{
  height: 18vh;
  border-radius: 10px;
}

.box {
  background-color: #fff;
  height: 25vh;
  width: 200px;
  border-radius: 10px;
}

.third_container button {
  margin: 28px 0px;
  background-color: var(--background_claro);
  padding: 10px 28px;
  border-radius: 58px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  transition: 0.5s;
}

.third_container button:hover {
  background-color: #e3b747;
  cursor: pointer;
}

.third_container a {
  color: var(--fonte_preta);
}

.third_container i {
  margin-left: 4px;
}

.products {
  gap: 28px;
}

.titulo_produto {
  font-weight: bolder;
}

footer {
  padding: 28px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

strong {
  color: var(--span_color);
  font-size: 1.2em;
}
